<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.rusty-fs.filer</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/remote-fs-server</string>
    <string>--port</string>
    <string>3000</string>
  </array>

  <key>EnvironmentVariables</key>
  <dict>
    <key>BASE_DIR</key>
    <string>/usr/local/var/rusty-fs/data</string>
    <key>RUST_LOG</key>
    <string>info</string>
  </dict>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>

  <key>ExitTimeOut</key>
  <integer>30</integer>

  <key>StandardOutPath</key>
  <string>/usr/local/var/log/rusty-fs/filer.log</string>
  <key>StandardErrorPath</key>
  <string>/usr/local/var/log/rusty-fs/filer.err.log</string>
</dict>
</plist>
